.App {
  font-family: sans-serif;
  text-align: center;
}

span {
  margin: 20px;
}

.label {
  display: inline-block;
  width: 120px;
}

.header {
  width: 100%;
  justify-content: space-between;
  height: 50px;
  display: flex;
  background-color: rgb(38, 40, 60);;
  box-shadow: rgb(111, 133, 133) 0px 0px 1px;
}